body {
    background-color: #b8b8b8;
    font-size: 13px;
    line-height: 18px;
    color: #333;
}
#content {
    width: 800px;
    padding: 20px 30px;
    margin: 0 auto;
    background-color: #fff;
}
h1 {
    font-size: 26px;
    line-height: 30px;
    color: #333;
    font-weight: normal;
    margin: 20px 0px 10px 0px;
}
h2 {
    font-size: 36px;
    line-height: 46px;
    color: #333;
    font-weight: normal;
    font-style: italic;
    margin: 40px 0px 20px 0px;
}
.fixed {
    position: fixed;
    top: 20px;
    right: 0px;
    width: 200px;
    padding: 20px;
    font-style: italic;
    color: #fff;
    background-color: #666;
}
#puzzle {
    position: relative;
    width: 604px;
    height: 453px;
    border: 5px solid #333;
    margin: 0 auto;
    background: url("img/v5/v5-watermark.jpg") no-repeat 0 0;
}
#puzzle img {
    position: absolute;
}
#img1 {
    top: 0px;
    left: 0px;
}
#img2 {
    top: 0px;
    left: 118px;
}
#img3 {
    top: 0px;
    left: 201px;
}
#img4 {
    top: 0px;
    left: 369px;
}
#img5 {
    top: 0px;
    left: 446px;
    /*right: 0;*/
}
#img6 {
    top: 74px;
    left: 0px; 
}
#img7 {
    top: 107px;
    left: 86px;
}
#img8 {
    top: 80px;
    left: 234px;
}
#img9 {
    top: 119px;
    left: 329px;
}
#img10 {
    top: 81px;
    left: 479px;
    /*right: 0;*/
}
#img11 {
    top: 228px;
    left: 0px;
}
#img12 {
    top: 190px;
    left: 119px;
}
#img13 {
    top: 224px;
    left: 202px;
}
#img14 {
    top: 188px;
    left: 360px;
}
#img15 {
    top: 193px; /*top: 227px;*/
    left: 503px; /*left: 445px;*/
    /*right: 0px;*/
}
#img16 {
    top: 300px;
    left: 0px;
}
#img17 {
    top: 334px;
    left: 86px;
}
#img18 {
    top: 309px;
    left: 238px;
}
#img19 {
    top: 379px; /*top: 343px;*/
    left: 357px; /*left: 323px;*/
}
#img20 {
    top: 368px; /*top: 303px;*/
    left: 563px; /*left: 485px;*/
    /*right: 0px;*/
}